{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>The Thing</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam amet ab cum reiciendis est similique ipsam voluptatum? Quia voluptatibus ipsum distinctio debitis veritatis sunt vel eius, ullam ducimus, magnam numquam?
        </p>

    </div>

    <div class="col-4">
        <img src="assets/img/the-Thing.png" class="img-thumbnail">
    </div>

</div>


{{> footer}}